<h1>タスクを編集</h1>
<p>タスクを編集してください</p>

<%= form_with model: @tasks, local: true do |form| %>
    <div>
        <%= form.label :name, "タスク名" %>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :content, "タスク内容" %>
        <%= form.text_area :content %>
    </div>

    <div>
        <%= form.submit "作成する" %>
    </div>
<% end %>
