<h1>タスク一覧</h1>
<p>今日もタスクを管理しよう！</p>

<%= link_to("新規登録", new_task_path) %>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <strong><%= task.name %></strong><br>
            <%= task.content %><br>

            <%= link_to("編集", edit_task_path(task)) %>

            <%= link_to("削除", task_path(task), method: :delete, data: { confirm: "削除しますか？" } ) %>
        </li>
    <% end %>
</ul>
